<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="header-nav">
    <div class="header-left">
        <h1>MediMart</h1>
        {% comment %} <img src="{{ 'logo.svg' | asset_url }}" alt="Cart" height="64px" width="500px"> {% endcomment %}
    </div>
    <div class="header-right">
        {% for link in linklists['main-menu'].links %}
            <li>{{ link.title | link_to:link.url }}</li>
        {% endfor %}
        
        <input type="checkbox" id="cart-toggle" class="cart-toggle">
        <label for="cart-toggle" class="cart-icon">
            <img src="{{ 'cart3.png' | asset_url }}" alt="Cart">
        </label>
        
    
        <div class="cart-slider">
            <div class="slider-container">
                <a href="/cart" class="view-cart">View Cart</a> 
                <ul class="slider">
                    {% for item in cart.items %}
                        <li>
                            <img src="{{ item.product.featured_image.src | img_url: 'medium' }}" alt="{{ item.product.title }}">
                           <p>{{ item.product.title }}</p>
                            <p>{{ item.quantity }} x {{ item.price | money }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
.view-cart{
    font-size: 18px;
    color: blue !important;
    float: right;
    color: white;
    text-decoration: none;
}
.view-cart a{
    padding-bottom: 20px;

}
.view-cart:hover {
    color: rgb(10, 0, 11) !important;
}
.cart-icon {
    cursor: pointer; 
}


.cart-toggle {
    display: none;
}


.cart-slider {
    position: absolute;
    top: 0;
    width: 270px; 
    height:100vh; 
    background-color: rgb(248, 248, 248);
    border-left: 1px solid #f8f8f8; 
    padding: 20px;
    z-index: 999;
    transition: right 0.3s ease; 
    margin-top: 4rem;
    display: none;
    transition: right 0.3s ease, opacity 0.3s ease; /* Include opacity transition */
    opacity: 0;
}


.cart-toggle:checked + .cart-icon + .cart-slider {
    right: 0; 
    display: block; 
    right: 0;
    opacity: 1;
}


.slider-container {
    overflow: hidden;
}

.slider {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px; 
    margin-top: 40px;
}
.slider li{
    padding: 10px;
    background-color: white;
    width:60%;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
}
.slider li:hover{
    border: 1px solid black;
}
.slider li img {
    max-width: 100px;
    height: auto;
}

.slider li p {
    margin: 0;
    font-size: 14px;
}

</style>
