<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="header-nav">
    <div class="header-left">
        <h1>MediMart</h1>
        {% comment %} <img src="{{ 'logo.svg' | asset_url }}" alt="Cart" height="64px" width="500px"> {% endcomment %}
    </div>
    <div class="header-right">
        {% for link in linklists['main-menu'].links %}
            <li>{{ link.title | link_to:link.url }}</li>
        {% endfor %}
        
        <input type="checkbox" id="cart-toggle" class="cart-toggle">
        <label for="cart-toggle" class="cart-icon">
            <img src="{{ 'cart3.png' | asset_url }}" alt="Cart">
        </label>
        
    
        <div class="cart-slider">
            <a href="/cart" class="view-cart">View Cart</a> 
            <div class="slider-container">
                <ul class="slider">
                    {% for item in cart.items %}
                        <li>
                            <img src="{{ item.product.featured_image.src | img_url: 'medium' }}" alt="{{ item.product.title }}">
                           <p>{{ item.product.title }}</p>
                            <p>{{ item.quantity }} x {{ item.price | money }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
.view-cart{
    font-size: 18px;
    color: blue !important;
    float: right;
}
.cart-icon {
    cursor: pointer; 
}


.cart-toggle {
    display: none;
}


.cart-slider {
    position: absolute;
    top: 0;
    width: 300px; 
    height:100vh; 
    background-color: white;
    border-left: 1px solid #ccc; 
    padding: 20px;
    z-index: 999;
    transition: right 0.3s ease; 
    margin-top: 4rem;
    display: none;
}


.cart-toggle:checked + .cart-icon + .cart-slider {
    right: 0; 
    display: block; 
}


.slider-container {
    overflow: hidden;
}

.slider {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.slider li img {
    max-width: 100px;
    height: auto;
}

.slider li p {
    margin: 0;
    font-size: 14px;
}

.remove-from-cart {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-from-cart:hover {
    background-color: #ff4d4d;
}
</style>
