<div class="product-details">
    <div class="product-images">
        {% for image in product.images %}
            <img src="{{ image.src | img_url: 'medium' }}" alt="{{ product.title }}">
        {% endfor %}
    </div>
    <div class="product-info">
        <h1>{{ product.title }}</h1>
        <div class="product-price">
            <p>Price: {{ product.price | money }}</p>
            {% if product.compare_at_price > product.price %}
                <p>Compare at: {{ product.compare_at_price | money }}</p>
            {% endif %}
        </div>
        <div class="product-description">
            {{ product.description }}
        </div>
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1">
        <button type="submit" class="btn-add-to-cart">Add to Cart</button>
    </form>
    </div>
</div>
<style>
  label{
    font-size: 20px;
  }
  #quantity{
    font-size: 20px;
    height: 30px;
    width: 50px;
  }
  .product-description{
    font-size:22px
  }
.product-details {
  margin:3rem;
    display: flex;
  justify-content:center;
  margin-bottom:7rem;
}

.product-images {
    padding-right: 20px; 
}

.product-info {
    flex: 0 0 50%; 
}

.product-images img {
    width: 100%; 
    height:450px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom:18rem;
  margin-right:2rem;
  border-radius: 8px;
}
.product-images img:hover {
    transform: scale(1.05); 
}

.product-info h1 {
    font-size: 30px; 
}

.product-price {
    margin-top: 10px;
  font-size:22px
}

.product-description {
    margin-top: 10px;
}
.btn-add-to-cart{
  display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #185e8a;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        font-size: 18px;
        font-family: "Lexend";
        margin-top: 1rem;
}
.btn-add-to-cart:hover{
  background-color: #00008B;
}
  </style>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}