<div class="cart-container">
    <h1 class="yc">Your cart</h1>
    <div class="cart-items">
        {% assign total = 0 %}
        {% for item in cart.items %}
            <div class="cart-item">
                <div class="product-info">
                    <div class="product-image">
                        {% if item.product.featured_image %}
                            <img src="{{ item.product.featured_image.src | img_url: 'medium' }}" alt="{{ item.product.title }}">
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <div class="product-name">{{ item.title }}</div>
                        <div class="product-price">{{ item.price | money }}</div>
                        <div class="product-quantity">
                            <form action="/cart/change" method="post">
                                <input type="hidden" name="id" value="{{ item.variant_id }}">
                                <select name="quantity" class="quantity-dropdown">
                                    {% for qty in (1..10) %}
                                        <option value="{{ qty }}" {% if qty == item.quantity %}selected{% endif %}>{{ qty }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Update" class="update-button">
                            </form>
                            <form action="/cart/change" method="post">
                            <input type="hidden" name="id" value="{{ item.variant_id }}">
                            <input type="hidden" name="quantity" value="0">
                            <input type="hidden" name="action" value="delete">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                        
                        </div>
                        <div class="product-subtotal">SubTotal: {{ item.line_price | money }}</div>
                    </div>
                </div>
            </div>
            {% assign total = total | plus: item.line_price %}
        {% endfor %}
    </div>
    <div class="cart-total">
        Total: <span class="total">{{ total | money }}</span>
    </div>
    <div class="checkout-button-container">
        <a href="/checkout" class="checkout-button">Proceed to checkout</a>
    </div>
</div>

<style>
    .product-price,.product-subtotal{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .yc {
        margin-bottom: 3rem;
    }

    .cart-container {
        max-width: 100%;
        padding: 20px;
        background-color: white;
        margin: 2rem;
    }

    .cart-items {
        margin-top: 10px;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }

    .product-info {
        display: flex;
        align-items: center;
    }

    .product-image img {
        width: 170px;
        height: 200px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .product-details {
        flex: 1;
    }

    .product-name {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .quantity-dropdown {
        border: 1px solid #ddd;
        padding: 5px;
        font-size: 18px;
    }

    .update-button,
    .delete-button {
        background-color: white;
        color: rgb(7, 65, 141);
        cursor: pointer;
        margin-left: 5px;
        font-size: 18px;
        border: none;
    }

    .cart-total {
        margin-top: 20px;
        font-size: 22px;
        font-weight: bold;
        text-align: right;
    }

    .checkout-button-container {
        margin-top: 20px;
        text-align: right;
    }

    .checkout-button {
        background-color: #70c8ff;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s ease;
        font-size: 20px;
    }

    .checkout-button:hover {
        background-color: #003a5e;
        color: white;
    }
</style>
